@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    align-items: center;
    display: flex;
    background: #101010;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 900px;
}

.container .card {
    background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
    border-radius: 4px;
    align-items: center;
    display: flex;
    height: 300px;
    overflow: hidden;
    justify-content: center;
    position: relative;
    text-align: center;
    transition: 0.5s;
    width: 250px;
}

.container .card:hover {
    box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
    transform: translateY(-10px);
}

.container .card:before {
    background: rgba(255, 255, 255, .03);
    content: '';
    height: 100%;
    left: -50%;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.percent {
    background: #222;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    height: 150px;
    position: relative;
    width: 150px;
    z-index: 1000;
}

.percent .number {
    border-radius: 50%;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.percent .number h2 {
    color: #777;
    font-size: 40px;
    font-weight: 700;
    transition: 0.5s;
}

.percent .number h2 span {
    color: #777;
    font-size: 24px;
    transition: 0.5s;
}

.card:hover .percent .number h2 {
    color: #fff;
    font-size: 60px;
}

.text {
    color: #777;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 20px;
    position: relative;
    text-transform: uppercase;
    transition: 0.5s;
}

.card:hover .text {
    color: #fff;
}

svg {
    position: relative;
    height: 150px;
    width: 150px;
    z-index: 1000;
}

svg circle {
    fill: none;
    height: 100%;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    width: 100%;
}

svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
    stroke: #00ff43;
    stroke-dashoffset: calc(440 - ( 440 * 90 ) / 100);
}

.card:nth-child(2) svg circle:nth-child(2) {
    stroke: #00a1ff;
    stroke-dashoffset: calc(440 - ( 440 * 85 ) / 100);
}

.card:nth-child(3) svg circle:nth-child(2) {
    stroke: #ff04f7;
    stroke-dashoffset: calc(440 - ( 440 * 40 ) / 100);
}